*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
    display: flex; 
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}
.container{
    background-color:antiquewhite;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select,button,input{
    width: 100%;
    border-radius: 0.75rem;
}
form input{
    height: 2rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.select-container img{
   max-width: 1.75rem; 
}
.select-container{
display: flex;
justify-content: center;
align-items: center;
}
.select-container select{
    font-size: 1rem;
} 
.msg{
    margin: 2rem 0 2rem 0;
}  
button{
    height: 3rem;
    background-color: blueviolet;
    cursor: pointer;
}
button:hover{
    background-color: black;
    color: white;
}
